html{
    font-family: 'Open Sans', sans-serif;
}
body{
    background: linear-gradient(rgb(1, 8, 105),rgb(2, 6, 39));
    display: flex;
	justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

.contact-section{
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;  
  
}

.contact-section h1{
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
}

.contact-section p{
    margin-bottom: 20px;
    text-align: center;
}
.contact-form{
    display: flex;
    flex-direction: column;
}
.contact-form label{
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}
button{
   padding: 10px 25px;
   cursor: pointer;
   display: block;
   align-self: center;
   margin-top: 20px;
   border-radius: 5px;
}
button:hover{
    background-color: white;
}
